/* * {
  background-color: rgb(215, 255, 248);
} */
button {
  border: 1px black solid;
  font-size: 15px;
  cursor: pointer;
  border-radius: 100px;
  margin: 2px;
  background-color: lightskyblue;
  box-shadow: 1px 1px rgba(1, 1, 1, .5);
}

